
<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Web Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>

<body style="padding-top: 70px">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">e-Shoppers</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to e-shoppers!</h1>
        <img th:src="@{/images/cart.png}" style="height: 200px" alt=""/>

    </div>

<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Name</th>-->
<!--            <th>Description</th>-->
<!--            <th>Price</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="product : ${products}">-->
<!--            <td th:text="${product.name}"></td>-->
<!--            <td th:text="${product.description}"></td>-->
<!--            <td th:text="${product.price}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
    <div class="row">
        <div class="col-sm-4" th:each="product : ${products}">
            <div class="card h-100 mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <p class="card-text">Price: $<span th:text="${product.price}"></span></p>
                    <a href="#" class="card-link btn btn-outline-info">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>



</div>

<footer class="footer mt-auto py-3 fixed-bottom">
    <div class="container">
        <span class="text-muted"> Copyright &copy; eShoppers.com 2020</span>
    </div>
</footer>

</body>

</html>
